/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall
body {
  padding-top: 3.5rem;
}
*/
/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.dropdown-menu{
  min-width: 0rem !important;

}



.add-to-cart{
  padding: 0px 3px !important;
}

.list-group{
  margin-top: 15px !important;
}
.ordina-button{
  display:block;
  margin: 15px auto;
}

li.list-group-item.active{
  z-index: 0 !important;
  color:white;
  background-color: rgba(210, 21, 2, 0.9);
  border-color: rgba(210, 21, 2, 0.6);
}

li.list-group-item.active.cart {
  background-color: #007bff;
  border-color: #007bff;
}

.modal-backdrop{
  z-index: 0 !important;
}


.notify-toggler-icon{
  display: inline-block;
  font-size: 1.9rem;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
@media (min-width: 768px) {
  #notifiche{
    display: block !important;
  }
}

footer{
  background-color: #f2f2f2;
  color: #777;
  padding: 20px;
  height: 60px;
  width: 100%;
  bottom: 0;
}

.ingredients{
  display:flex;
  font-size: 75%;
  margin-top: -5px;
  color: #989898;
}

thead > tr {
  background-color: rgba(210, 21, 2, 0.9);
  color: white;
}


.product-price, .add-to-cart, .euro-sign {
  margin-right: 5px;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
}
